.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style-type: none;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 54px;
            height: 54px;
        }
        svg:hover {
            cursor: pointer;
            color: #c6927b;
        }
    }
}
